@page "/"

@inject SessionGlobals sessionGlobals;
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<SfTextBox Value="@sessionGlobals.MainMessage"  ></SfTextBox>

<SfButton @ref="ToggleBtn" @onclick="onToggleClick" CssClass="e-flat" IsToggle="true" IsPrimary="true" Content="@Content"></SfButton>

@code
{
    SfButton? ToggleBtn;

    public string Content = "Play";
    private void onToggleClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        if (ToggleBtn?.Content == "Play")
        {
            this.Content = "Pause";
            sessionGlobals.SetMessage("Now hit Pause");            
            //StateHasChanged();
        }
        else
        {
            this.Content = "Play";
            sessionGlobals.SetMessage("Now hit Play");            
           //StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        sessionGlobals.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        sessionGlobals.OnChange -= StateHasChanged;
    }

}